@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$font-sizes: (
  1: 6rem,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$theme-colors: (
  "primary":    #EA57E5,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "~bootstrap/scss/bootstrap";

.font-face-title{
    font-family: "PlayWriteUSAModern";
}

.font-face-content-regular{
  font-family: "UbuntuSans-Regular";
}

.font-face-content-medium{
  font-family: "UbuntuSans-Medium";
}

.font-face-content-semibold{
  font-family: "UbuntuSans-SemiBold";
  text-align: center;
}

.background-home{
  background-image: url("./assets/drawing.svg");
  background-repeat: repeat-y;
  background-size: auto;
}

.background-home-dark{
  background-image: url("./assets/bg-dark.svg");
}




  